<div class="row">
		<div id="main" class="col-md-10 col-sm-8 col-xs-8">
		</div>
		<div id="sidebar" class="col-md-2 col-sm-1 col-xs-1">
			<div class="selection" id="everythinganimated">
				Everything Animated
			</div>
			<div class="selection" id="fat">
				Free Art & Technology
			</div>
			<div class="selection" id="ladieswithlenses">
				Ladies With Lenses
			</div>
			<div class="selection" id="nicetype">
				Nice Type
			</div>
			<div class="selection" id="shortoftheweek">
				Short of the Week 
			</div>
			<div class="selection" id="vimeohq">
				Vimeo 
			</div>
			<div class="selection" id="soundworkscollection">
				Soundworks Collection
			</div>
			<div class="selection" id="booooooom">
				BOOOOOOOM
			</div>
			<div class="selection" id="thecuriousbrain">
				The Curious Brain
			</div>
			<div class="selection" id="paragliding">
				Paragliding
			</div>
		</div>
</div>