<div class="video col-md-5 col-sm-8 col-xs-8">
	<h2>{{title}}</h2>
	<iframe src={{player_url}} width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
	</iframe>
    <h3>Likes:</h3>
    {{stats_number_of_likes}}
</div>






